
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>

<div class="home-container" id="usseersss">
    <aside class="sidebar">
        <div class="logo-section">
            <img src="assets/logo.png" alt="InspireCreators Logo" class="logo" />
            <span class="brand-name">InspireCreators</span>
        </div>
        <nav class="menu">
          <a class="menu-item" [routerLink]="['/home']" fragment="welcomehome">

                <i class="fas fa-home"></i> Home
            </a>
            <a class="menu-item" [routerLink]="['/home']" fragment="aboutus">
                <i class="fas fa-info-circle"></i> About
            </a>
            <a class="menu-item" [routerLink]="['/home']" fragment="contactus">
                <i class="fas fa-envelope"></i> Contact us
            </a>
            <a class="menu-item" [routerLink]="['/home']" fragment="FAQ">
                <i class="fas fa-question-circle"></i> Questions
            </a>
            <a class="menu-item" routerLink="/users">
                <i class="fas fa-users"></i> Users
            </a>
        </nav>

        
    </aside>

    <div class="top-bar">
        <div class="search-container">
            <input type="text" placeholder="Search" class="search-bar" />
        </div>
        <button class="get-app-btn">Get App</button>
        <div class="profile">
            <span>Hi! {{ user?.lastName || 'User' }}</span>
            <img [src]="userImage" alt="Profile" class="profile-pic" />
            <i class="fas fa-ellipsis-h dots-icon" (click)="toggleDropdown()"></i>

            <!-- Dropdown Menu -->
            <div *ngIf="isDropdownVisible" class="dropdown-menu">
              <a [routerLink]="['/profilesettings']" >Profile</a>
              <a (click)="logout()">Logout</a>
            </div>
          </div>
          
    </div>
<div class="profilesettingscontainer">
  <h2>PROFILE SETTINGS</h2>

  <div class="profilavatar">
    <img [src]="userImage" alt="Avatar">
  </div>

  <form class="formprofile" (ngSubmit)="updateProfile()" #profileForm="ngForm">
    <div class="input-rowprofilesettings">
      <input type="text" placeholder="Enter First Name" [(ngModel)]="user.firstName" name="firstName" >
      <input type="text" placeholder="Enter Last Name" [(ngModel)]="user.lastName" name="lastName" >
    </div>
    <div class="input-rowprofilesettings">
      <input type="text" placeholder="Enter Username" [(ngModel)]="user.username" name="username" >
      <input type="date" placeholder="yourdate" [(ngModel)]="user.birthday" name="bday" >
    </div>
    <div class="input-rowprofilesettings">
      <input type="email" placeholder="Enter Email" [(ngModel)]="user.email" name="email" readonly>
      <input type="text" placeholder="Enter Contact Number" [(ngModel)]="user.phone" name="phone" >
    </div>
    <div class="input-rowprofilesettings">
      <input type="password" placeholder="Enter Password" [(ngModel)]="user.password" name="password" >
     <input
    type="file"
    id="fileUpload"
    (change)="handleFileInput($event)"
    accept="image/*"
   
  />
    </div>
    <button class="updatebtn" type="submit">UPDATE</button>
  </form>
</div>

   
    <footer class="middlefooter">
    
        <p>InspireCreators Inc. © 2025, all rights reserved.</p>
    </footer>
</div>